<v-app>
  <v-container fluid class="marginTop">
    <v-row>
      <v-col>
        <template>
          <v-card>
            <v-card-title>
              <span class="title">Employees</span>
              <v-spacer></v-spacer>
              <input type="checkbox" v-model="status">
              <label> Online </label><br>
              <AddEmployees
                @event_child="eventChild"
                @close="closeEvent"
                :isDialogOpen="dialogOpening"
                :editindex="editedIndex"
                :editItem="editedItem"
              />
            </v-card-title>

            <v-data-table
              :headers="headers"
              :items="EmployeeList"
              :loading="loading"
              loading-text="Loading... Please wait"
              hide-default-footer
              class="elevation-1 table-divider "
            >
              <template v-slot:item.action="{ item }">
                <v-btn color="primary" fab x-small dark class="mx-1" @click="updateItem(item)">
                  Edit
                </v-btn>
                <v-btn color="primary" fab x-small dark class="mx-1" @click="deleconfirmation(item)">
                  Delete
                </v-btn>
              </template>
            </v-data-table>
          </v-card>
        </template>
      </v-col>
    </v-row>
    <v-dialog v-model="DeleteSlotModal" scrollable persistent max-width="500">
      <v-card>
        <v-card-title>
          <span class="subheading">Delete Employee</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <span class="body-1"><strong>Do u want to Delete ?</strong></span>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="darken-1" @click="DeleteSlotModal = false">Close</v-btn>
          <v-btn color="grey darken-3" dark @click="deleteItem">Delete</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-snackbar
      v-model="snackBar.visibility"
      :color="snackBar.color"
      :multi-line="snackBar.mode === 'multi-line'"
      :timeout="snackBar.timeout"
      :vertical="snackBar.mode === 'vertical'"
    >
      {{ snackBar.text }}
      <v-btn dark text @click="snackBar.visibility = false">Close</v-btn>
    </v-snackbar>
  </v-container>
</v-app>
