.profile-image {
    display: flex;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 12px;
}
.base-image-input {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    cursor: pointer;
    background-size: cover;
    background-position: center center;
  }
  .placeholder {
    background: #F0F0F0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    font-size: 15px;
    font-family: Helvetica;
    border: 1px solid;
  }
  .placeholder:hover {
    background: #E0E0E0;
  }
  .file-input {
    display: none;
  }