<div>
  <v-btn fab x-small dark class="mx-1" color="grey darken-3" @click="formDialog = true">
    Add
  </v-btn>
  <v-dialog v-model="formDialog" scrollable persistent max-width="800">
    <v-card>
      <v-card-title>
        <span class="subheading">Info</span>
      </v-card-title>
      <v-card-text>
        <v-container grid-list-md>
          <v-form ref="EmployeeForm" lazy-validation>
            <v-row>
              <v-col md="6" class="py-0 px-1">
                <v-text-field
                  outlined
                  dense
                  class="required"
                  label="Full Name"
                  :rules="nameRules"
                  v-model="editedItem.name"
                ></v-text-field>
              </v-col>

              <v-col md="6" class="py-0 px-1">
                <v-text-field
                  outlined
                  dense
                  class="required"
                  label="Username"
                  :rules="nameRules"
                  v-model="editedItem.username"
                ></v-text-field>
              </v-col>
            </v-row>

            <v-row>
              <v-col md="6" class="py-0 px-1">
                <v-text-field
                  outlined
                  dense
                  class="required"
                  label="Email"
                  :rules="emailRules"
                  v-model="editedItem.email"
                ></v-text-field>
              </v-col>

              <v-col md="6" class="py-0 px-1">
                <v-text-field outlined dense class="required" label="Designation" v-model="editedItem.designation">
                </v-text-field>
              </v-col>
            </v-row>

            <v-row>
              <v-col md="6" class="py-0 px-1">
                <v-text-field
                  outlined
                  dense
                  class="required"
                  label="Contact No"
                  :rules="PhoneRules"
                  v-model="editedItem.contact_no"
                >
                </v-text-field>
              </v-col>

              <v-col md="6" class="py-0 px-1">
                <v-text-field outlined dense label="Address" v-model="editedItem.address"></v-text-field>
              </v-col>
            </v-row>
          </v-form>
        </v-container>
      </v-card-text>
      <v-card-actions class="pb-3 pr-3">
        <v-spacer></v-spacer>
        <v-btn color="darken-1" @click="closeForm">Close</v-btn>
        <v-btn color="grey darken-3" dark @click="saveFormData">Save</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
  <v-snackbar
    v-model="snackBar.visibility"
    :color="snackBar.color"
    :multi-line="snackBar.mode === 'multi-line'"
    :timeout="snackBar.timeout"
    :vertical="snackBar.mode === 'vertical'"
  >
    {{ snackBar.text }}
    <v-btn dark text @click="snackBar.visibility = false">Close</v-btn>
  </v-snackbar>
</div>
